<%- include ('partials/header.ejs') %>

    <body>
        <%- include ('partials/navbar.ejs') %>
            <div class="container mt-4">
                <br>
                <hr>
                <h1>Perguntar</h1>
                <hr>
                <a href="/perguntar" class="btn btn-success">Perguntar</a>
                <hr>
                <div class="card mt-2">
                    <div class="card-header">
                        <h3>Aqui vai o titulo da pergunta</h3>
                    </div>
                    <div class="card-body">
                        <p>Aqui vai o texto da pergunta</p>
                        <a href="" class="btn btn-success">Responder</a>
                    </div>
                </div>
            </div>
    </body>
    <%- include ('partials/footer.ejs') %>